@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=cyrillic,latin);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);
body {
	padding:0;
	margin:0;
	font-family:"Roboto",sans-serif;
	min-width:1230px;
}
/* клиар фикс йопта */
.clear:before, .clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.clear {zoom: 1;} 
.top_header {
	width: 100%;
	background: #e7f0f3;
	padding-top: 10px;
	padding-bottom: 30px;
}
.content {
	width: 1230px;
	margin: auto;
	overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
	margin-before: 0;
	margin-after: 0;
	padding-start:0;
	font-weight:400;
	margin:0
}
.logotype {float: left;margin-left: 20px;}
.top_header .content {margin-bottom: 10px;}
.content .slogan {float: left;margin-left: 170px;padding-top: 8px;}
.content .slogan span {
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 4px;
}
.light {font-weight: lighter;font-size: 15pt;}
.red_text {font-weight: bold;color: #e23412;font-size: 14.3pt;margin-top: 5px;}
.bold_condensed {font-weight: 700;}
.contact_number {
	margin-top: -10px;
	text-align: right;
	padding-top: 5px;
	float: left;
	margin-left: 200px;
	text-align: right;
}
.contact_number h2 {font-weight: lighter;padding-top: 5px;}
.buttons {
	margin: 0 auto;
}
.buttons ul {text-align: center;padding: 0;margin: 0;}
.buttons ul li {
	background: url(../img/menu.jpg);
	background-repeat: repeat;
	margin: 0 -2px;
	list-style: none;
	display: inline-block;
	padding: 14px 20px 18px;
}
.buttons ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14.8pt;
	margin: 0;
	font-weight: 700;
}
.buttons ul li:hover {background: #c12708;cursor: pointer;}
.buttons ul li:first-child {border-radius: 20px 0 0 20px;padding-left: 40px;}
.buttons ul li:last-child {border-radius: 0 20px 20px 0 ;padding-right: 40px;}
.bg {
	background: url(../img/bg_1.jpg) center top no-repeat;
	background-size: cover;
	z-index: 0;
	height: 860px;
	margin-top: -57px;
}
.snoska {float: left;margin-top: 213px;margin-left: 100px;}
.headers {float: left;margin-left: -150px;margin-top: 310px;}
.headers .bold_condensed {font-weight: 700;color: #fff;font-family: "Roboto Condensed", sans-serif;}
.headers .header3, .header4 {font-weight: 700;color: #fff;}
.headers .header1 {
	width: 280px;
	padding: 3px 18px 10px 20px;
	background: rgba(216,61,31,.8);
	font-size: 40pt;
}
.headers .header2 {
	margin-top: -20px;
	width: 150px;
	padding: 0 30px 5px 20px;
	background: rgba(216,61,31,.8);
	font-size: 40pt;
}
.headers .header3 {
	width: 298px;
	padding: 10px 0 12px 20px;
	background: rgba(0,0,0,.6);
	font-size: 26pt;
	margin-top: 40px;
}
.headers .header4 {
	width: 222px;
	padding: 0 15px 12px 18px;
	background: rgba(0,0,0,.6);
	font-size: 26pt;
	margin-left: 63px;
}
.light_minus {font-weight: 300;}
.header_video {
	position: relative;
	float: left;
	margin-top: 310px;
	margin-left: 45px;
}
.video_wrap {position: relative;}
.play {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 64px;
	width: 64px;
	background: url(../img/play.png) no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}
.play:hover {background-position: -64px 0px;}
.button {
	display: block;
	text-decoration: none;
	height: 59px;
	width: 430px;
	background: url(../img/bg_button.jpg) repeat;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
	border-bottom: 2px solid #740003;
	line-height: 59px;
	cursor: pointer;
}
.button .btn_insert {display: block;width: 100%;}
.button .btn_insert:before {
	content: " ";
	background: url(../img/button_icon.png);
	width: 32px;
	height: 30px;
	float: left;
	margin-left: 70px;
	margin-top: 14.5px;
}
.button .btn_insert .btn_text {
	font-weight: bold;
	font-size: 20pt;
	color: white;
	text-shadow: 2px 2px rgba(0,0,0,.3);
	margin-left: 15px;
	text-transform: uppercase;
}
.button:hover {background: url(../img/bg_button_hover.jpg) no-repeat;background-size: 100% 100%;}
.icons {
	width: 100%;
	height: 520px;
	background: url(../img/stela.jpg) center top no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 10.4pt;
	margin-top: -1px;
	font-weight: 400;
}
.icons .eco, .transport, .geometry {float: left;margin-top: 80px;display: inline-block;margin-left: 20px;}
.power, .sound, .prochnost {float: left;margin-top: 35px;display: inline-block;margin-left: 20px;}
.icons .eco, .power {margin-left: 30px;}
.icons .bold_condensed {font-family: "Roboto Condensed", sans-serif;font-weight: 700;}
.text {
	float: left;
	margin-left: 20px;
	width: 290px;
	height: 150px;
}
.icons h2 {margin-bottom: 5px;}
.icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6 {float: left;}
.btn_link {
	display: block;
	width: 580px;
	height: 35px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 3px solid #df3e1f;
	color: #fff;
	margin: 0 auto;
	padding-left: 30px;
	padding-top: 12px;
	padding-bottom: 0;
}
.btn_link .btn_text {
	color: #fff;
	font-weight: 700;
	font-size: 12.5pt;
}
.bg_trubi {
	background: url(../img/bg_trubi.jpg) center top no-repeat;
	height: 920px;
	width: 100%;
}
.magazin {
	float: left;
	width: 1150px;
	height: 800px;
	border: 7px solid #c2c2c2;
	margin-top: 55px;
	background: rgba(255,255,255,0.9);
	margin-left: 30px;
}
.left {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	width: 540px;
	height: 400px;
	display: inline-block;
}
.magazin .red_bold {
	color: #e43412;
	font-weight: 700;
	float: left;
	font-size: 18pt;
	height: 10px;
}
.line {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	width: 340px;
	height: 10px;
	background: url(../img/line_patern.png);
}
.black_bold {
	margin-top: 20px;
	float: left;
	font-weight: 700;
	font-size: 13pt;
	color: #000;
}
.spisok {float: left;margin-top: 10px;margin-bottom: 20px;}
.spisok h4 {margin-top: 5px;font-size: 13.4pt;}
.spisok .first {margin-top: 0;}
.spisok .second {margin-top: 0;margin-left: 15px;}
.magazin p, .abzac {font-size: 13pt;font-weight: 400;text-align: justify;}
.right {
	font-size: 14pt;
	font-weight: 300;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	width: 470px;
	height: 400px;
	display: inline-block;
}
.right .bold {font-weight: 700;}
.right .adr {margin-top: -10px;}
.right .justify {text-align: center; margin-top: 20px;}
.right h3 {margin-top: 20px;}
.right .line{width: 340px;}
.right p {float: left;margin-top: 20px;}
.bottom {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	width: 1050px;
	height: 340px;
}
.bottom .line{width: 870px}
.bottom .certificates {margin-top: 40px;}
.bottom .certs {
	display: inline-block;
	background: url(../img/rama.png) center top no-repeat;
	width: 190px;
	height: 275px;
	overflow: hidden;
	position: relative;
}
.bottom .cert_1 .sert_1, .sert_2, .sert_3, .sert_4 {margin-left: 14px;margin-top: 15px;}
.search {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: url(../img/search.png);
	background-position: 0px 0px;
	height: 64px;
	width: 64px;
	opacity: .5;
	transition: opacity .2s ease-in-out;
}
.search:hover {opacity: 1;cursor: pointer;}
.bottom .cert_2, .cert_3, .cert_4 {margin-left: 90px;}
.bottom .cert_2 .sert_2 {margin-left: 14px;margin-top: 15px;}
.price {
	background: url(../img/brickPat.jpg)center top repeat;
	width: 100%;
	height: 480px;
	margin-top: -25px;
	padding: 0;
}
.price .header_table {
	float: left;
	width: 400px;
	display: inline-block;
	height: 450px;
	margin-top: 50px;
	margin-left: 60px;
	margin-bottom: 0;
}
.price .header_table .red_bold {color: #e43412;font-weight: 700;font-size: 32pt;}
.price .header_table h2 {text-align: center; margin-bottom: 20px;float: left;display: block;}
.price .header_table h3 {float: left;}
.price .header_table h4 {font-size: 14pt;}
.price .header_table p {font-weight: 300;font-size: 13.5pt;margin-top: 20px;float: left;margin-bottom: 60px;}
.price .header_table .bold {font-weight: 700;}
.price .header_table .bot {font-size: 17pt;}
.price .price_table {
	float: left;
	display: inline-block;
	width: 650px;
	height: 450px;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 0;
}
.price table {
	width: 650px;
	font-size: 13pt;
	border: 2px solid #e2e2e2;
	margin: 0;
	border-spacing: 0;
}
.price table tr td {text-align: center;padding: 15px 0;font-size: 12pt;margin-left: -2px;margin-top: -2px;}
.price table th{background: #e43412;color: #fff;height: 40px;line-height: 40px;font-family: "Roboto Condensed";margin-left: -2px;margin-top: -2px;}
.price .first {border-right: 3px solid #fff;width: 150px;}
.price .light_silver {background: #f7f7f7;}
.price .bg_white {background: #fff;padding: 5px;font-weight: 400;font-style: italic;}
.price .silver {background: #e2e2e2;}
.price .padd {padding: 5px 0;font-size: 11pt;}
.price .bot_col {background: #fff;text-align: left;padding: 15px 15px 15px;color: #656565;font-size: 11pt}
.work {background: url(../img/bg_cb.jpg) center top no-repeat;height: 550px;width: 100%;}
.work .content {margin: 0 auto;width: 1050px;height: 500px;}
.work .white_bold {
	position: relative;
	font-family: "Roboto Condensed";
	font-weight: 600;
	text-align: center;
	color: #fff;
	font-size: 30pt;
	top: 3%;
	text-shadow: 2px 2px rgba(0,0,0,.3);
	text-transform: uppercase;
}
.work .strat {
	float: left;
	background: url(../img/work.png) no-repeat;
	width: 1050px;
	height: 270px;
	margin-top: 80px;
}
.btn_appl {
	float: left;
	display: block;
	text-decoration: none;
	height: 60px;
	width: 350px;
	background: url(../img/bg_button.jpg) no-repeat;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 30px;
	border-radius: 10px;
	border-bottom: 2px solid #740003;
	line-height: 59px;
	cursor: pointer;
	margin-left: 350px;
}
.btn_appl .btn_insert {display: block;width: 100%;}
.btn_appl .btn_insert:before {
	content: " ";
	background: url(../img/button_icon.png);
	width: 32px;
	height: 30px;
	float: left;
	margin-left: 25px;
	margin-top: 14.5px;
}
.btn_appl .btn_insert .btn_text {
	font-weight: bold;
	font-size: 20pt;
	color: white;
	text-shadow: 2px 2px rgba(0,0,0,.3);
	margin-left: 15px;
	text-transform: uppercase;
}
.btn_appl:hover {background: url(../img/bg_button_hover.jpg) no-repeat;background-size: 100% 100%;}
.picked {background: #fff;width: 100%;height: 400px;}
.picked .content {width: 1000px;height: 400px;}
.picked .content .bold_condensed {
	margin-top: 30px;
	font-family: "Roboto Condensed";
	font-size: 34pt;
	font-weight: 700pt;
	color: #454545;
	text-transform: uppercase;
	text-align: center;
}
.coms {width: 1000px;height: 400px;margin-top: 40px;}
.coms .all_coms {height: 81px;width: 172px;border: 2px solid #e2e2e2;display: inline-block;margin-left: 20px; margin-bottom: 40px;padding: 0}
.coms .all_coms:first-child::nth-child(5) {margin-left: 0;}
.coms .all_coms img[alt="company"] {min-width: 100%; height: auto;max-width: 120%;}

.workers {width: 100%;height: 750px;background: url(../img/bg_3.jpg) top center no-repeat; background-size: 100% 100%;}
.workers .content .worker {float: left;margin-top: 50px;margin-bottom: 50px;width: 250px;height: 670px;margin-left: 50px;}
.workers .content .worker .photo {float: left; display: block;}
.workers .content .worker .bold {font-weight: 700;float: left;margin-top: 20px;font-size: 14pt;}
.workers .content .worker h4 {float: left;}
.workers .content .worker p {float: left;text-align: justify;}
.workers .content .worker img[alt="worker"] {min-width: 100%; height: auto;max-width: 120%;}

.map {height: 400px; width: 100%; background: url(../img/map.jpg) top center no-repeat; background-size: 100% 100%;}

.contact {background: #454545;width: 100%;height: 200px;}
.contact .content .contacts {width: 350px; margin-top: 30px;margin-left: 110px;float: left; display: inline-block;}
.contact .content .contacts:first-child {margin-left: 0}
.contact .content .contacts:last-child {width: 250px;}
.contact .content .contacts .red_bold {font-weight: 700;font-size: 18pt;color: #e43412;}
.contact .content p {color: #fff;font-weight: 300;}

footer .content {padding-top: 20px; padding-bottom: 20px;}
footer .bold {font-weight: 700;}
footer h4 {font-weight: 300;float: left;}
footer .mind_pro {float: right; margin-right: 100px;}